In [44]:
import pandas as pd
import numpy as np

# Series

In [45]:
obj = pd.Series([4, 7, -5, 3])

In [46]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [47]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [48]:
s = obj.index   # returns a range

In [49]:
s

RangeIndex(start=0, stop=4, step=1)

In [50]:
for i in s: 
    print(i)

0
1
2
3

In [51]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])

In [52]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [53]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

#### Indexing

In [54]:
obj2['a']

-5

In [55]:
obj2['d'] = 6

In [56]:
obj2[['c', 'a', 'd']]

c    3
a   -5
d    6
dtype: int64

#### Numpy-Like Operation
    # Using NumPy functions or NumPy-like operations, such as filtering with a boolean
    array, scalar multiplication, or applying math functions, will preserve the index-value
    link

In [57]:
obj2 > 0

d     True
b     True
a    False
c     True
dtype: bool

In [58]:
obj2[obj2 > 0]

d    6
b    7
c    3
dtype: int64

In [59]:
obj2 * 2

d    12
b    14
a   -10
c     6
dtype: int64

In [60]:
np.exp(obj2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [61]:
'b' in obj2

True

In [62]:
'e' in obj2

False

#### Series from python dictionary

In [73]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [74]:
sdata

{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [75]:
obj3 = pd.Series(sdata)

In [76]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [77]:
states = ['California', 'Ohio', 'Oregon', 'Texas']

In [78]:
obj4 = pd.Series(sdata, index=states)

In [80]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [82]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [83]:
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [84]:
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [85]:
obj4.name = 'Population'

In [86]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: Population, dtype: float64

In [87]:
obj4.index.name = 'state'

In [88]:
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: Population, dtype: float64