In [38]:
import numpy as np

# Checking Numpy Array vs Python List Efficiency

In [39]:
lst = list(range(1000000))

In [40]:
arr = np.arange(1000000)

In [41]:
# Checking Python list efficicency by multiplying each number in list by 2 10 times.
%time for i in range(10): lst2 = [p * 2 for p in lst]

Wall time: 2.37 s

In [42]:
# Checking Numpy efficicency by multiplying each number in array by 2 10 times.
%time for i in range(10): arr2 = arr * 2

Wall time: 42 ms

# Creating an array and multiplying with scalar element

In [43]:
# Generating some random data.
data = np.random.randn(2, 3)

In [44]:
data

array([[-0.00852765,  1.62708771, -0.55237081],
       [ 0.60825118, -0.24193345,  0.35032813]])

In [45]:
data * 10  # it will multiply each element in array by 10 without writing any for loop.

array([[-0.08527646, 16.27087715, -5.52370811],
       [ 6.08251181, -2.41933453,  3.50328128]])

In [46]:
data + data   # All the element in data are added to each corresponding cell in the array.

array([[-0.01705529,  3.25417543, -1.10474162],
       [ 1.21650236, -0.48386691,  0.70065626]])

# Array Shape And Dtype

In [47]:
# Indicate how many rows and columns in the array, in this case 2 rows and 3 columns.
data.shape

(2, 3)

In [48]:
# Indicate the array data type, in this case float.
data.dtype

dtype('float64')

# Creating ndarray

In [49]:
# The easiest way to create an array is to pass list to array function.
data1 = [6, 7.5, 1, 8, 2]
arr1 = np.array(data1)
arr1

array([6. , 7.5, 1. , 8. , 2. ])

In [50]:
# Passing nested lists of equal length will create a multidimensional array.
data2 = [[1, 2, 3, 4], [5, 6, 7, 8]]
arr2 = np.array(data2)
arr2

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [51]:
# To check is it really a multidimensional array, we use ndim.
arr2.ndim

2

In [52]:
arr2.shape

(2, 4)

# Other ways for creating ndarray or Numpy Array

In [53]:
# Creating array of zeros.
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [54]:
# Pass a shape for higher dimensions.
np.zeros((2, 6))

array([[0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.]])

In [55]:
# Creating array of ones.
np.ones(8)

array([1., 1., 1., 1., 1., 1., 1., 1.])

In [56]:
data3 = np.ones((3, 2, 3))
data3

array([[[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]]])

In [57]:
data3.ndim

3

In [58]:
# Creating array empty elements. -> It’s not safe to assume that np.empty will return an array of all
#zeros. In some cases, it may return uninitialized “garbage” values.
np.empty((3, 4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [59]:
# Generating series of numbers.
np.arange(15)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [60]:
np.identity(10)

array([[1., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1.]])

# Datatypes for ndarray

In [61]:
# dtype is a special object containing information about ndarray.
arr1 = np.array([1, 2, 3, 4], dtype=np.float64)

In [62]:
arr1

array([1., 2., 3., 4.])

In [63]:
arr2 = np.array([1., 2., 3., 4.], dtype=np.int32)

In [64]:
arr2

array([1, 2, 3, 4])

In [65]:
arr1.dtype

dtype('float64')

In [66]:
arr2.dtype

dtype('int32')

In [67]:
# CASTING using numpy ---- astype method ------

In [68]:
arr = np.array([1, 2, 3, 4])

In [69]:
arr.dtype

dtype('int32')

In [70]:
float_arr = arr.astype(np.float64)

In [71]:
float_arr

array([1., 2., 3., 4.])

In [72]:
float_arr.dtype

dtype('float64')

In [73]:
arr = np.array([2.3, 4.2, 5.3, 6.2, 1.9, 4.5, 1.0])

In [74]:
arr.dtype

dtype('float64')

In [75]:
int_arr = arr.astype(np.int32)

In [76]:
int_arr

array([2, 4, 5, 6, 1, 4, 1])

In [77]:
int_arr.dtype

dtype('int32')

In [78]:
# Converting Strings to floats
string_arr = np.array(['3.4', '-2.3', '4.5', '8', '3.8', '5.2', '3.7'], dtype=np.string_)

In [79]:
string_arr

array([b'3.4', b'-2.3', b'4.5', b'8', b'3.8', b'5.2', b'3.7'], dtype='|S4')

In [80]:
string_arr.dtype

dtype('S4')

In [81]:
float_arr = string_arr.astype(np.float64)

In [82]:
float_arr

array([ 3.4, -2.3,  4.5,  8. ,  3.8,  5.2,  3.7])

In [83]:
float_arr.dtype

dtype('float64')

# Arithematic with Numpy Arrays

In [84]:
arr = np.array([[1, 2, 3], [4, 5, 6]], dtype=np.float64)

In [85]:
arr

array([[1., 2., 3.],
       [4., 5., 6.]])

In [86]:
arr * arr

array([[ 1.,  4.,  9.],
       [16., 25., 36.]])

In [87]:
arr - arr

array([[0., 0., 0.],
       [0., 0., 0.]])

In [88]:
# Arithematic operations with scalar propagates scalar to each element in array.
1 / arr

array([[1.        , 0.5       , 0.33333333],
       [0.25      , 0.2       , 0.16666667]])

In [89]:
arr * 2

array([[ 2.,  4.,  6.],
       [ 8., 10., 12.]])

In [90]:
arr ** 0.5

array([[1.        , 1.41421356, 1.73205081],
       [2.        , 2.23606798, 2.44948974]])

In [91]:
# Comparison
# Comparison between arrays of same size yields boolean arrays.

In [92]:
arr1 = np.array([[0, 4, 1], [7, 2, 12]], dtype=np.float64)

In [93]:
arr1

array([[ 0.,  4.,  1.],
       [ 7.,  2., 12.]])

In [94]:
bool_arr = arr1 > arr

In [95]:
bool_arr

array([[False,  True, False],
       [ True, False,  True]])

In [96]:
bool_arr.dtype

dtype('bool')

# Indexing And Slicing

In [97]:
arr = np.arange(10)

In [98]:
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [99]:
arr[5]

5

In [100]:
arr[5:8]

array([5, 6, 7])

In [101]:
arr[5:8] = 12

In [102]:
arr

array([ 0,  1,  2,  3,  4, 12, 12, 12,  8,  9])

In [103]:
# SLCING IN ARRAYS ARE VIEWS.
arr_slice = arr[5:8]

In [104]:
arr_slice

array([12, 12, 12])

In [105]:
arr_slice[1] = 12345

In [106]:
arr

array([    0,     1,     2,     3,     4,    12, 12345,    12,     8,
           9])

In [107]:
arr_slice

array([   12, 12345,    12])

HIGHER DIMENSIONS INDEXING

In [108]:
arr2d = np.array([[1, 2, 3, 4], [3, 5, 2, 5]])

In [109]:
arr2d[1]

array([3, 5, 2, 5])

In [110]:
arr2d[1][3]

5

In [111]:
arr2d[1, 3]

5

3D Array

In [112]:
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

In [113]:
arr3d

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [114]:
old_values = arr3d[0].copy()

In [115]:
old_values

array([[1, 2, 3],
       [4, 5, 6]])

In [116]:
arr3d

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [117]:
arr3d[0] = 42

In [118]:
arr3d

array([[[42, 42, 42],
        [42, 42, 42]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [119]:
arr3d[0] = old_values

In [120]:
arr3d

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

Indexing with slices

In [121]:
arr = np.arange(15)

In [122]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [123]:
arr[1:6]

array([1, 2, 3, 4, 5])

In [124]:
arr2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

In [125]:
arr2d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [126]:
arr2d[:2]

array([[1, 2, 3],
       [4, 5, 6]])

In [127]:
arr2d[:2, 1:]

array([[2, 3],
       [5, 6]])

In [128]:
arr2d[1, :2]

array([4, 5])

In [129]:
arr2d[:2,2]

array([3, 6])

In [130]:
arr2d[:2, 2]

array([3, 6])

Boolean Indexing

In [131]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

In [132]:
data = np.random.randn(7, 4)

In [133]:
names

array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'], dtype='<U4')

In [134]:
data

array([[ 2.87754830e-01, -2.01425689e+00, -2.29994718e+00,
        -1.26956966e-01],
       [-7.51399161e-01, -7.36913081e-01, -2.60730918e-01,
         1.49053466e+00],
       [ 1.00260110e+00, -8.43039937e-01, -1.05638749e+00,
         1.99225032e-02],
       [ 1.21743101e+00,  6.89635378e-01,  9.33186893e-01,
        -1.21766689e+00],
       [-1.48545352e+00, -1.57845678e+00,  8.53957992e-01,
         5.16918393e-01],
       [ 1.83064494e+00,  7.64272810e-01, -2.42612517e-01,
        -1.10397338e+00],
       [ 8.20093775e-01, -1.94878338e+00, -4.86189479e-01,
         1.12834102e-03]])

In [135]:
names == 'Bob'

array([ True, False, False,  True, False, False, False])

In [136]:
data[names == 'Bob']

array([[ 0.28775483, -2.01425689, -2.29994718, -0.12695697],
       [ 1.21743101,  0.68963538,  0.93318689, -1.21766689]])

In [137]:
data[names == 'Bob', 2:]

array([[-2.29994718, -0.12695697],
       [ 0.93318689, -1.21766689]])

In [138]:
data[names == 'Bob', 3]

array([-0.12695697, -1.21766689])

In [139]:
data[~(names == 'Bob')]

array([[-7.51399161e-01, -7.36913081e-01, -2.60730918e-01,
         1.49053466e+00],
       [ 1.00260110e+00, -8.43039937e-01, -1.05638749e+00,
         1.99225032e-02],
       [-1.48545352e+00, -1.57845678e+00,  8.53957992e-01,
         5.16918393e-01],
       [ 1.83064494e+00,  7.64272810e-01, -2.42612517e-01,
        -1.10397338e+00],
       [ 8.20093775e-01, -1.94878338e+00, -4.86189479e-01,
         1.12834102e-03]])

In [140]:
data[names != 'Bob']

array([[-7.51399161e-01, -7.36913081e-01, -2.60730918e-01,
         1.49053466e+00],
       [ 1.00260110e+00, -8.43039937e-01, -1.05638749e+00,
         1.99225032e-02],
       [-1.48545352e+00, -1.57845678e+00,  8.53957992e-01,
         5.16918393e-01],
       [ 1.83064494e+00,  7.64272810e-01, -2.42612517e-01,
        -1.10397338e+00],
       [ 8.20093775e-01, -1.94878338e+00, -4.86189479e-01,
         1.12834102e-03]])

In [141]:
data[names == 'Bob'] = 7.0

In [142]:
data

array([[ 7.00000000e+00,  7.00000000e+00,  7.00000000e+00,
         7.00000000e+00],
       [-7.51399161e-01, -7.36913081e-01, -2.60730918e-01,
         1.49053466e+00],
       [ 1.00260110e+00, -8.43039937e-01, -1.05638749e+00,
         1.99225032e-02],
       [ 7.00000000e+00,  7.00000000e+00,  7.00000000e+00,
         7.00000000e+00],
       [-1.48545352e+00, -1.57845678e+00,  8.53957992e-01,
         5.16918393e-01],
       [ 1.83064494e+00,  7.64272810e-01, -2.42612517e-01,
        -1.10397338e+00],
       [ 8.20093775e-01, -1.94878338e+00, -4.86189479e-01,
         1.12834102e-03]])

In [143]:
data[names != 'Bob'] = 0.0

In [144]:
data

array([[7., 7., 7., 7.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [7., 7., 7., 7.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [145]:
cond = names == 'Bob'

In [146]:
cond

array([ True, False, False,  True, False, False, False])

In [147]:
data[~cond]

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

# Fancy Indexing

In [148]:
arr = np.empty((8, 4))

In [149]:
for i in range(8):
    arr[i] = i

In [150]:
for i in arr:
    print(i)

[0. 0. 0. 0.]
[1. 1. 1. 1.]
[2. 2. 2. 2.]
[3. 3. 3. 3.]
[4. 4. 4. 4.]
[5. 5. 5. 5.]
[6. 6. 6. 6.]
[7. 7. 7. 7.]

In [151]:
arr[[3, 2, 7, 6]]

array([[3., 3., 3., 3.],
       [2., 2., 2., 2.],
       [7., 7., 7., 7.],
       [6., 6., 6., 6.]])

In [152]:
arr[[-1, 2, -8]]

array([[7., 7., 7., 7.],
       [2., 2., 2., 2.],
       [0., 0., 0., 0.]])

Passing Multiple Index Arrays

In [153]:
arr = np.arange(32).reshape((8, 4))

In [154]:
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23],
       [24, 25, 26, 27],
       [28, 29, 30, 31]])

In [155]:
arr[[3, 4, 1], [3, 1, 0]]

array([15, 17,  4])

In [156]:
# NEEEED TO UNDERSTAND
arr[[1, 5, 7, 2]][:, [0, 3, 1, 2]]

array([[ 4,  7,  5,  6],
       [20, 23, 21, 22],
       [28, 31, 29, 30],
       [ 8, 11,  9, 10]])

# TRANSPOSING ARRAYS AND SWAPPING AXES

In [157]:
arr = np.arange(15).reshape(3, 5)

In [158]:
arr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [159]:
a = arr.T

In [160]:
a[1:-1, 1:] = 0

In [161]:
a

array([[ 0,  5, 10],
       [ 1,  0,  0],
       [ 2,  0,  0],
       [ 3,  0,  0],
       [ 4,  9, 14]])

In [162]:
arr

array([[ 0,  1,  2,  3,  4],
       [ 5,  0,  0,  0,  9],
       [10,  0,  0,  0, 14]])

In [163]:
arr = np.arange(16).reshape(2, 2, 4)

In [164]:
arr

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7]],

       [[ 8,  9, 10, 11],
        [12, 13, 14, 15]]])

In [165]:
arr.transpose(1, 0, 2)

array([[[ 0,  1,  2,  3],
        [ 8,  9, 10, 11]],

       [[ 4,  5,  6,  7],
        [12, 13, 14, 15]]])

In [166]:
arr

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7]],

       [[ 8,  9, 10, 11],
        [12, 13, 14, 15]]])

In [167]:
arr.swapaxes(1, 2)

array([[[ 0,  4],
        [ 1,  5],
        [ 2,  6],
        [ 3,  7]],

       [[ 8, 12],
        [ 9, 13],
        [10, 14],
        [11, 15]]])

# Universal Functions: Fast Element-Wise Array Functions

In [168]:
arr = np.arange(10)

In [169]:
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [170]:
np.sqrt(arr)

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ])

In [171]:
np.exp(arr)

array([1.00000000e+00, 2.71828183e+00, 7.38905610e+00, 2.00855369e+01,
       5.45981500e+01, 1.48413159e+02, 4.03428793e+02, 1.09663316e+03,
       2.98095799e+03, 8.10308393e+03])

In [172]:
a = np.random.randn(8)

In [173]:
b = np.random.randn(8)

In [174]:
a

array([-0.7714295 , -0.76017194,  1.43683355, -0.41618988, -0.23281338,
       -0.45784648,  0.2831199 ,  0.76119092])

In [175]:
b

array([-1.06108276,  2.66193075, -0.85846188,  0.94175444, -1.6722694 ,
       -1.23152997, -0.17460399,  1.66008759])

In [176]:
np.add(a, b)

array([-1.83251226,  1.90175881,  0.57837167,  0.52556456, -1.90508278,
       -1.68937645,  0.10851591,  2.42127851])

In [177]:
np.maximum(a, b)

array([-0.7714295 ,  2.66193075,  1.43683355,  0.94175444, -0.23281338,
       -0.45784648,  0.2831199 ,  1.66008759])

In [178]:
arr = np.arange(10)

In [179]:
a, b = np.modf?

In [ ]:
a, b = np.modf

In [180]:
a, b = np.modf(arr)

In [181]:
a

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [182]:
b

array([0., 1., 2., 3., 4., 5., 6., 7., 8., 9.])

# Expressing Conditional Logic as Array Operations

In [183]:
xarr = np.array([1.1, 1.2, 1.3, 1.4, 1.5])

In [184]:
yarr = np.array([2.1, 2.2, 2.3, 2.4, 2.5])

In [185]:
cond = np.array([True, False, True, True, False])

In [186]:
# np.Where

In [187]:
result = np.where(cond, xarr, yarr)

In [188]:
result

array([1.1, 2.2, 1.3, 1.4, 2.5])

In [189]:
# use of np.where

In [190]:
arr = np.random.randn(4, 4)

In [191]:
arr

array([[ 0.353198  , -1.66384806, -0.50907039,  1.04923559],
       [-0.25871218,  0.35437394,  1.14901222,  2.12214351],
       [-0.00430253,  0.24275161, -1.41489208,  0.93797263],
       [-0.07883546, -0.20744708, -0.83943964,  0.89014543]])

In [192]:
arr > 0

array([[ True, False, False,  True],
       [False,  True,  True,  True],
       [False,  True, False,  True],
       [False, False, False,  True]])

In [193]:
arr < 0

array([[False,  True,  True, False],
       [ True, False, False, False],
       [ True, False,  True, False],
       [ True,  True,  True, False]])

In [194]:
result = np.where(arr > 0, 2, -2)

In [195]:
result

array([[ 2, -2, -2,  2],
       [-2,  2,  2,  2],
       [-2,  2, -2,  2],
       [-2, -2, -2,  2]])

# Mathematical and Statistical methods

In [196]:
arr = np.random.randn(5, 4)

In [197]:
arr

array([[ 0.7614599 , -0.08429258, -1.47903091, -0.14199806],
       [ 0.97482569,  1.20210522,  1.44379125,  0.23502278],
       [-1.46549658, -0.42838987, -0.66379354, -0.10093375],
       [-0.8011214 ,  0.51492195,  0.33105895, -0.80380147],
       [-2.99379244,  0.18769386,  1.97815733,  0.35643486]])

In [198]:
np.sum(arr)

-0.9771787993392456

In [205]:
a = np.arange(10).reshape(5, 2)

In [206]:
a

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [208]:
np.mean(a)

4.5

In [209]:
arr

array([[ 0.7614599 , -0.08429258, -1.47903091, -0.14199806],
       [ 0.97482569,  1.20210522,  1.44379125,  0.23502278],
       [-1.46549658, -0.42838987, -0.66379354, -0.10093375],
       [-0.8011214 ,  0.51492195,  0.33105895, -0.80380147],
       [-2.99379244,  0.18769386,  1.97815733,  0.35643486]])

In [210]:
np.mean(arr)

-0.04885893996696228

In [211]:
np.std(a)

2.8722813232690143

In [212]:
np.var(a)

8.25

In [213]:
np.min(a)

0

In [214]:
np.max(a)

9

In [215]:
np.min(arr)

-2.9937924366427797

In [216]:
np.max(arr)

1.9781573264483403

In [217]:
np.argmin(a)

0

In [218]:
np.argmax(a)

9

In [219]:
np.argmin(arr)

16

In [220]:
np.argmax(arr)

18

In [221]:
np.cumsum(a)

array([ 0,  1,  3,  6, 10, 15, 21, 28, 36, 45], dtype=int32)

In [222]:
np.cumsum(arr)

array([ 0.7614599 ,  0.67716733, -0.80186358, -0.94386164,  0.03096405,
        1.23306927,  2.67686051,  2.91188329,  1.44638671,  1.01799684,
        0.3542033 ,  0.25326955, -0.54785185, -0.03292989,  0.29812906,
       -0.50567241, -3.49946485, -3.31177099, -1.33361366, -0.9771788 ])

In [223]:
np.cumprod(a)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int32)

In [224]:
np.cumprod(arr)

array([ 7.61459902e-01, -6.41854170e-02,  9.49322155e-02, -1.34801903e-02,
       -1.31408357e-02, -1.57966672e-02, -2.28070899e-02, -5.36018557e-03,
        7.85533362e-03, -3.36514532e-03,  2.23376173e-03, -2.25461944e-04,
        1.80622388e-04,  9.30064331e-05,  3.07906123e-05, -2.47495395e-05,
        7.40949842e-05,  1.39071739e-05,  2.75105779e-05,  9.80572899e-06])

In [225]:
a

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [231]:
np.sum(a, axis=0)

array([20, 25])

In [232]:
np.mean(arr, 1)

array([-0.23596541,  0.96393623, -0.66465343, -0.18973549, -0.1178766 ])

In [233]:
a

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [234]:
a.cumsum()

array([ 0,  1,  3,  6, 10, 15, 21, 28, 36, 45], dtype=int32)

In [237]:
a.cumsum(1)

array([[ 0,  1],
       [ 2,  5],
       [ 4,  9],
       [ 6, 13],
       [ 8, 17]], dtype=int32)

In [238]:
a.sum(0)

array([20, 25])

In [246]:
np.sum(a, axis=1)

array([ 1,  5,  9, 13, 17])

In [247]:
a.sum(0)

array([20, 25])

In [250]:
a.mean(1)

array([0.5, 2.5, 4.5, 6.5, 8.5])

# Methods for Boolean Arrays

In [251]:
arr = np.random.randn(100)

In [252]:
arr

array([-1.49764683,  2.43934046,  0.94038784, -0.28243069, -1.92399647,
        0.49144534, -0.80789557, -1.47301614,  0.86280595, -0.53677925,
       -0.75222815,  0.60069332,  0.44465069,  0.54671108,  1.11944858,
        0.88469906,  0.38784743,  0.2737099 , -1.47034596,  1.15733243,
       -1.32041058, -0.80788039, -1.5588936 ,  0.13951619,  1.4868786 ,
        0.463045  ,  1.39194478,  1.57359722, -0.04595548,  0.90335009,
       -0.72900495, -0.70490552, -0.31635014, -0.03993744, -0.19152754,
        1.40122508, -0.82466608, -0.73610881,  1.55815398, -1.11110348,
        0.69819133, -0.76975382, -0.36953765,  0.27193868,  1.23963624,
        0.21575781, -1.0862147 , -0.991857  , -0.17416161, -1.85027563,
       -0.30897844,  0.43817687,  1.0448176 , -0.13722752, -0.57450931,
        0.62938423,  0.01466328,  0.54648402,  0.85015246,  0.05638912,
        1.70287245,  0.67853495,  0.28840343,  0.525157  ,  0.90837395,
       -0.68181799,  0.73845022, -0.04635305, -0.09698472,  1.6910322 ,
       -1.62536947,  0.67389674, -1.33385791,  0.41400467, -0.75314258,
        1.58064115,  2.00650494,  1.20542724,  0.12872424,  0.69528471,
       -0.35253774, -1.84200314,  0.36560542,  1.84052778, -1.29248635,
       -0.43886296,  0.21785915,  0.33562786,  0.29452474,  0.17101471,
        0.26418981, -0.08306079,  0.04559758, -2.04060216, -0.0838408 ,
        0.58716673, -0.5904648 ,  0.82681488, -1.15564489, -1.08072917])

In [266]:
b = arr[arr > 0]

In [269]:
len(b)

55

In [255]:
arr[arr > 0].sum()

43.258611233737184

In [256]:
(arr > 0).sum()

55

In [257]:
arr[arr > 0].sum()

43.258611233737184

In [258]:
a = np.array([3, 4, -2, 2, 1, 4, -2])

In [259]:
a

array([ 3,  4, -2,  2,  1,  4, -2])

In [260]:
a > 0

array([ True,  True, False,  True,  True,  True, False])

In [261]:
a[a > 0]

array([3, 4, 2, 1, 4])

In [262]:
a[a > 0].sum()

14

In [263]:
(a > 0).sum()

5

In [271]:
(a > 0).any()

True

In [272]:
(a > 0).all()

False

Sorting

In [273]:
arr = np.array([4, 2, 1, 0, 6, 3])

In [274]:
arr

array([4, 2, 1, 0, 6, 3])

In [275]:
arr.sort()

In [276]:
arr

array([0, 1, 2, 3, 4, 6])